body {
    background-color: #424874;
    font-family: 'Noto Serif KR', serif;
    color: #F4EEFF;
}

main {
    width: 90vw;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
main .img-wrap {
    width: 90vw;
    height: 40vh;
    position: relative;
}
main .img-wrap .img-area {
    position: absolute;
    width: 90vw;
}
main .img-wrap .img-area img {
    width: 50vw;
    animation: fireworks-ani-01 5s infinite;
}
main .img-wrap .img-area img:nth-child(2) {
    width: 35vw;
    padding-top: 150px;
    float: right;
    animation: fireworks-ani-02 5s infinite;
}
main .img-wrap .img-area.fireworks-02 {
    
}
main .img-wrap .img-area.fireworks-02 img {
    width: 35vw;
    padding-top: 150px;
    animation: fireworks-ani-03 5s infinite;
}
main .img-wrap .img-area.fireworks-02 img:nth-child(2)  {
    width: 50vw;
    padding-top: 0;
    animation: fireworks-ani-04 5s infinite;
}

@keyframes fireworks-ani-01 {
    0% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    15% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fireworks-ani-02 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    15% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fireworks-ani-03 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    40% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    65% {
        transform: scale(1);
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fireworks-ani-04 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    65% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    90% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main .img-wrap .title-wrap h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 40px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: title 5s infinite;
}
@keyframes title {
    0% {
        color: #F4EEFF;
    }
    25% {
        color: #A6B1E1;
    }
    50% {
        color: #DCD6F7;
    }
    75% {
        color: #F4EEFF;
    }
    100% {
        color: #F4EEFF;
    }
}

main p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20vh;
}

.scr-down {
    position: relative;
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10vh;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #F4EEFF;
}
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}